.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.m~
*.avi
*.mp4

.tags*

gridgen
veritas
flagged.txt
rectangles_*.txt
rectangleData_*.txt
Efield.txt
Control.txt
error.log

gridgeneration/build/*
!gridgeneration/build/Modules
build/*
!build/Modules
bin/output/
bin/run.log

docs/_build
